

{% extends '../base.html' %}

{% block title%}Recém Implementada{% endblock %}

{% load static %}

{% block content %}

<section class="topics text">
    <div class="topicsTextInner">
        <h2>
            Resultado do Questionário
        </h2>

        <h3>
            Abaixo são apresentados os dados e estatísticas referentes ao questionário sobre programação disponível no site.
        </h3>

        <a href="form" class="btnToMakeBorder">
            <section class="buttons hover-effect5">
                <div>
                    <h3>
                        Caso não tenha respondido, clique aqui
                    </h3>
                </div>
            </section>
        </a>
    </div>
</section>



<section class="topics text">
    <div class="topicsTextInner">
        <h2>
            Distribuição de Alunos

        </h2>
        <div class="iframeWrapper">
            <iframe width="937" height="580" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vSwhmOEWKAgNxokDpsjgNWEtGlaW9i3wTuUBmf4B1fh8S4Ed2I9kFZo2o--KbsPcuMWF0sCLXlzkgMB/pubchart?oid=1385813489&amp;format=interactive"></iframe>
        </div>
    </div>
</section>


<section class="topics text">
    <div class="topicsTextInner">
        <h2>
            Ocorrência de Dificuldades por Categoria
        </h2>
        <div class="iframeWrapper">
            <iframe width="937" height="580" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vSwhmOEWKAgNxokDpsjgNWEtGlaW9i3wTuUBmf4B1fh8S4Ed2I9kFZo2o--KbsPcuMWF0sCLXlzkgMB/pubchart?oid=72558195&amp;format=interactive"></iframe>
        </div>
    </div>
</section>


<section class="topics text">
    <div class="topicsTextInner">
        <h2>
            Inovações Favoritas: O Que Você Escolheria?
        </h2>
        <div class="iframeWrapper">
            <iframe width="937" height="580" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vSwhmOEWKAgNxokDpsjgNWEtGlaW9i3wTuUBmf4B1fh8S4Ed2I9kFZo2o--KbsPcuMWF0sCLXlzkgMB/pubchart?oid=335691576&amp;format=interactive"></iframe>
        </div>
    </div>
</section>


<section class="topics text">
    <div class="topicsTextInner">
        <h2>
            Propostas de Mudança
        </h2>

        <h3>
            Após consolidar as respostas de todos os alunos, identificou-se um padrão comum: muitos expressaram o desejo de ver como o que estão aprendendo em programação pode ser aplicado na prática, especialmente em sites e programas de computador úteis.
        </h3>

        <h3>
            Em geral, há um interesse significativo em compreender as aplicações práticas no cotidiano.
        </h3>
    </div>
</section>

<section class="topics text">
    <div class="topicsTextInner">
        <h2>
            Gostaria de dar sua opinião também?
        </h2>

        <h3>
            Basta responder ao questionário; suas respostas serão computadas automaticamente e adicionadas às estatísticas apresentadas acima.
        </h3>

        <a href="form" class="btnToMakeBorder">
            <section class="buttons hover-effect5">
                <div>
                    <h3>
                        Questionário
                    </h3>
                </div>
            </section>
        </a>
        

    </div>
</section>




<a href="#" class="btnToMakeBorder">
    <section class="buttons hover-effect5">
        <div>
            <h3>
                Rolar Para o topo
            </h3>
        </div>
    </section>
</a>


{% endblock %}
