


{% extends '../base.html' %}

{% block title%}Formulário{% endblock %}

{% block content %} 
 
 
    <section class="topics text">
        <div id="forms">
            <iframe src="https://docs.google.com/forms/d/e/1FAIpQLScpEKBvTIcwVzS_WwXWG4SIhnmyUGqSVD72gHeJpHNoHf2HRw/viewform?embedded=true" 
                id="formsInner"
                frameborder="0" 
                marginheight="0" 
                marginwidth="0">Carregando…
            </iframe>
        </div>
    </section>


    <a href="https://forms.gle/ubUAk5sKEZZAWekh8"
        target="_blank" class="btnToMakeBorder">
        <section class="buttons hover-effect5">
            <div>
                <h3>
                    Responder no Google
                </h3>
            </div>
        </section>
    </a>


{% endblock %}