

{% extends '../base.html' %}

{% block title%}RoadMap{% endblock %}

{% block content %}


    <section class="topics text" id="roadMapIndex">
        <div class="topicsTextInner">
            <h2>
                RoadMap
            </h2>

            <h3>
                Abaixo está um RoadMap com foco na linguagem c.
                
            </h3>

            <h3>
                Nele são apresentados conceitos básicos relacionados à programação.
            </h3>

            <h3 class="toolTips">
                <-- Clique nos tópicos para mais informações -->
            </h3>

        </div>
    </section>

    <section class="externalMaterial" id="RoadMap">
        <iframe 
            class="ExternalMaterialInner" 
            id="iframeRoadMap"
            src="https://miro.com/app/live-embed/uXjVMQZOU6g=/?moveToViewport=-4743,-3330,1031,561&embedId=529532936828"
            frameborder="0" 
            scrolling="no"
            allow="fullscreen; clipboard-read; clipboard-write"
            allowfullscreen>Carregando…
        </iframe>
    </section>
    
    
    <!-- <a href=""
    target="_blank">
        <section class="buttons">
            <div>
                <h3>
                    Mais Informações
                </h3>
            </div>
        </section>
    </a> -->


{% endblock %}
