

{% extends '../../../../base.html' %}

{% block title%}Arquitetura de Computadores - Vídeos{% endblock %}

{% block content %} 

    <section class="externalMaterial" id="VideoArq1">
        <h2>
            Arquitetura de computadores parte 1
        </h2>
    </section>

    <section class="externalMaterial" id="VideoArq1">
        <iframe
            class="externalMaterialInner"
            id="iframeVideoArq1"
            src="https://www.youtube.com/embed/y5p2DFIZ7qU"
            title="Arquitetura de computadores parte 1"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen>Carregando…
        </iframe>
    </section>

    <section class="externalMaterial" id="VideoArq1">
        <h2>
            Arquitetura de computadores parte 2
        </h2>
    </section>

    <section class="externalMaterial" id="VideoArq3">
        <iframe
            class="externalMaterialInner"
            id="iframeVideoArq3"
            src="https://www.youtube.com/embed/y1pWBynN5rg"
            title="Arquitetura de computadores parte 3"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen>Carregando…
        </iframe>
    </section>

    <section class="externalMaterial" id="VideoArq1">
        <h2>
            Arquitetura de computadores parte 3
        </h2>
    </section>

    <section class="externalMaterial" id="VideoArq2">
        <iframe
            class="externalMaterialInner"
            id="iframeVideoArq2"
            src="https://www.youtube.com/embed/HQf7iGLWMs0"
            title="Arquitetura de computadores parte 2"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen>Carregando…
        </iframe>
    </section>

    


{% endblock %}
