
    
{% extends '../../../../base.html' %}

{% block title%}Quiz{% endblock %}

{% block content %}



    <section class="externalMaterial" id="ComputerArqQuiz">
        <iframe 
            id="iframeComputerArqQuiz"
            style="max-width:100%" 
            src="https://wordwall.net/pt/embed/9d5c01e5679e4d659b4248abcd9a49ce?themeId=3&templateId=5&fontStackId=0" 
            frameborder="0" 
            allowfullscreen>
        </iframe>
    </section>

    <!-- <a href="#"
    target="_blank">
        <section class="buttons">
            <div>
                <h3>
                    Mais Informações
                </h3>
            </div>
        </section>
    </a> -->


{% endblock %}