:root {

    /* ================== */
    /* Varáveis Numéricas */
    /* ================== */

    --defaltPaddingMargin: 20px;

    --textPaddingMargin: 40px;
    --textCardMargin: 20px;

    --defaltBoxSizeW: 70vw;
    --defaltBoxSizeV: 55vh;

    --defaltBoxInnerSizeW: 35vw;
    --defaltBoxInnerSizeV: 40vh;

    --sectionBorderRadius: 16px;

    --fontSize: 20px;
    --fontSizeMenu: 20vh;

    --defaltTopicsTitleSizeV: 0;

    --defaltWidthRoadMap: 75vw;
    --defaltHeightRoadMap: 80vh;

    --defaltWidthExternalMaterialInner: 75vw;
    --defaltHeightExternalMaterialInner: 80vh;

    --defaltWidthForm: 60vw;
    --defaltHeightForm: 75vh;

    --defaltWidthFormInner: 60vw;
    --defaltHeightFormInner: 100vh;

    --defaltPopUpBoxSizeW: 25vw;



  /* =============== */
  /* Paleta de Cores */
  /* =============== */

    --color1: #14aaeb;
    --color2: #38bff0;
    --color3: #5cd5f5;
    --color4: #80eafa;
    --color5: #a4ffff;

    --hoverColor: rgba(5, 5, 5, 0.666);
    /* --hoverColor2: rgba(13, 0, 255, 0.952); */
    /* --hoverColor2: rgba(0, 0, 0, 0.164); */
    --hoverColor2: var(--color5);
    --hoverColor3: rgba(5, 5, 5, 0.241);
    --hoverColor4: var(--color4);
    --hoverColor5: var( --color1);
    
    --fontColor: black;


    --backgroundHeader: var(--color3);

    --backgroudPgColor: #0fed16;
    --backgroudMainColor: var(--color4);
    --backgroundImageGradient: linear-gradient(45deg, var(--color1), var(--color5));

    --footerBackground: #f4f4f4;

    --footerBorder: #e5e5e5;
    --footerColor: #2f2f2f;
    --footerColorNav: #999;
    --footerButtonColor: rgb(33, 33, 33, 0.07);

    --glassBorder: rgba(255, 255, 255, 0.18);
    --glassBoxShadow: rgba(31, 38, 135, 0.37);

    /* ===== */
    /* Geral */
    /* ===== */

    --display: none;
    --displayM: flex;
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'Tech';
    src: url("../fonts/fsex300-webfont.428e088f66ae.ttf") format('truetype'),
        url("../fonts/fsex300-webfont.2c7b9b47d880.svg") format('svg'),
        url("../fonts/fsex300-webfont.b5a2838197a9.eot") format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'latodown';
    src: url("../fonts/lato/Lato-Black.d83ab24f5cf2.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


@media screen and (max-width: 40.375em) {
    :root {

        /* ================== */
        /* Varáveis Numéricas */
        /* ================== */

        --defaltPaddingMargin: 10px;

        --textPaddingMargin: 40px;
        --textCardMargin: 30px;

        --defaltBoxSizeW: 90vw;
        --defaltBoxSizeV: 45vh;

        --defaltBoxInnerSizeW: 80vw;
        --defaltBoxInnerSizeV: 40vh;

        --fontSize: 12px;


        --defaltTopicsTitleSizeV: 10vh;

        --defaltWidthRoadMap: 80vw;
        --defaltHeightRoadMap: 75vh;

        --defaltWidthExternalMaterialInner: 80vw;
        --defaltHeightExternalMaterialInner: 75vh;

        --defaltWidthFormInner: 100vw;
        --defaltHeightFormInner: 130vh;

        --defaltPopUpBoxSizeW: 90vw;

        /* ===== */
        /* Geral */
        /* ===== */

        --display: flex;
        --displayM: none;

    }

    .imgBack{
        margin: var(--textPaddingMargin);
        width:100%;
    }
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.container {
    font-size: var(--fontSize);

    display: var(--display);
    margin-top: var(--textPaddingMargin);
    margin-bottom: 0;
    margin-left: var(--defaltPaddingMargin);
    margin-right: var(--defaltPaddingMargin);
}

.container-toolTips {
    margin-top: var(--textPaddingMargin);
}

.std-display {
    display: flex;
    max-width: 100%;
}

.container h3 span.cursor {
    display: inline-block;
    background-color: var(--fontColor);
    margin-left: 0.1rem;
    width: 3px;
    animation: blink 1s infinite;

}

.container h3 span.cursor.typing {
    animation: none;
}

.container-swap {
    font-size: 25px;

    flex-direction: column;
}

.container-swap h3 span.cursor {
    display: inline-block;
    /* align-self: flex-start; */
    background-color: var(--fontColor);
    margin-left: 0.1rem;
    width: 3px;
    animation: blink 1s infinite;
}

.container-swap h3 span.cursor.typing {
    animation: none;
}

@keyframes blink {
    0% {
        background-color: black;
    }

    49% {
        background-color: black;
    }

    50% {
        background-color: transparent;
    }

    99% {
        background-color: transparent;
    }

    100% {
        background-color: black;
    }
}

html {
    min-height: 100%;
    max-width: auto;

}

a {
    text-decoration: none;
    color: inherit;
}

body {
    margin: 0;
    padding: 0;
    overflow-y: scroll;
    width: 100%;
}

.page {
    background-color: var(--backgroudPgColor);
    max-width: 100%;
    width: 100vw;
    /* height: 150vh; */
    display: flex;
    flex-direction: column;

    font-family: monospace;
    font-family: 'Tech';
    font-size: 20px;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 15vh;
    max-height: 72px;
    width: 100%;


    position: fixed;
    top: 0;

    /* ==================== */
    /* Estilização de Vidro */
    /* ==================== */

    /* background: var(--backgroundHeader); */
    /* background-image: linear-gradient(45deg, var(--color3), var(--color4)); */
    background-image: linear-gradient(225deg, rgba(128, 234, 250, 0.5), rgba(164, 255, 255, 0.5));
    box-shadow: 0 3px 32px 0 var(--glassBoxShadow);
    backdrop-filter: blur(19px);
    -webkit-backdrop-filter: blur(19px);
    border: 1px solid var(--glassBorder);


    font-size: 25px;
    z-index: 2;
}

.headerInv {
    display: flex;
    height: 15vh;
    max-height: 72px;
    width: 100%;
    z-index: 1;
    background-image: linear-gradient(225deg, rgba(128, 234, 250, 1), rgba(164, 255, 255, 1));
}

.menu {
    position: fixed;
    right: 0;
    top: 100;

    width: 20vw;
    min-height: 30vh;
    padding: var(--defaltPaddingMargin);

    background-image: var(--backgroundImageGradient);

    border-radius: var(--sectionBorderRadius) 0 0 var(--sectionBorderRadius);

    display: flex;
    flex-direction: column;

    display: none;
}

.menuTopics {
    width: fit-content;
    margin: var(--defaltPaddingMargin) var(--defaltPaddingMargin) 0 var(--defaltPaddingMargin);
    border: solid black
}

.tabs {
    display: var(--displayM);
    margin: var(--defaltPaddingMargin);
}

#options {
    display: flex;
    flex-direction: row;
    align-items: center;

}

#menu-img {
    width: 32px;
    margin: var(--defaltPaddingMargin);
    cursor: pointer;
}

#headerTitle {
    margin: var(--defaltPaddingMargin);
}

.mobile-toolTips {
    display: var(--display);
    margin-top: var(--textPaddingMargin);
    margin-bottom: 0;
    margin-left: var(--defaltPaddingMargin);
    margin-right: var(--defaltPaddingMargin);
}

.main {
    width: 100%;
    height: auto;
    min-height: 80vh;
    /* background-color: var(--backgroudMainColor); */
    background-image: linear-gradient(225deg, var(--color4), var(--color5));

    display: flex;
    align-items: center;
    flex-direction: column;
}


.topics-title {
    margin: var(--textPaddingMargin);
    margin-bottom: 0;
    text-align: center;
    min-height: var(--defaltTopicsTitleSizeV);
}

.topics {
    margin-top: 50px;
    margin-bottom: 50px;
    z-index: 1;
}

.article {
    display: flex;
    flex-direction: column;
}

.topicsTextInner {
    min-height: var(--defaltBoxSizeV);
    height: 100%;
    padding: var(--defaltPaddingMargin);
    width: var(--defaltBoxSizeW);


    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-image: var(--backgroundImageGradient);
    border-radius: var(--sectionBorderRadius);
}

.topicsTextInner h2 {
    padding-bottom: var(--textPaddingMargin);
    text-align: center;
}

.topicsTextInner h3 {
    font-family: open;
    font-family: 'latodown';
    padding-left: var(--defaltPaddingMargin);
    padding-right: var(--defaltPaddingMargin);
    text-align: center;
    margin-bottom: var(--textPaddingMargin);

}

#forms {
    width: var(--defaltWidthFormInner);
    height: 100%;
}

#formsInner {
    width: var(--defaltWidthFormInner);
    min-height: var(--defaltHeightFormInner);

}

.buttons h3 {
    padding-left: var(--defaltPaddingMargin);
    padding-right: var(--defaltPaddingMargin);
    text-align: center;
}

.Info h3 {
    margin-top: 2ch;
}

#projetosIndex {
    cursor: pointer;
}

#roadMapIndex {
    padding-top: 10vh;
}

.buttons {
    width: auto;
    height: auto;
    padding: var(--defaltPaddingMargin);
    border-radius: 48px;
    background-image: var(--backgroundImageGradient);
    margin: var(--defaltPaddingMargin);
    cursor: pointer;
}


/* ======================== */
/*  Flipcard Section Start  */
/* ======================== */



.flip-card {
    background-color: transparent;
    /* width: 300px; */
    /* width: var(--defaltBoxSizeW); */
    width: 100%;
    height: var(--defaltBoxSizeV);
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    min-height: fit-content;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
    cursor: pointer;
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: var(--sectionBorderRadius);
}

.flip-card-front {
    padding: var(--defaltPaddingMargin);
    background-image: linear-gradient(45deg, var(--color1), var(--color5));

}

.flip-card-front img {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
    border-radius: var(--sectionBorderRadius);
}

.flip-card-back {
    background-image: linear-gradient(315deg, var(--color1), var(--color5));
    color: var(--fontColor);
    transform: rotateY(180deg);
    overflow: auto;
}

.flip-card-back img {
    width: 140px;
    margin-top: 1rem;
    object-fit: scale-down;
    border-radius: var(--sectionBorderRadius);
}

.flip-card-back h3 {
    margin: var(--textCardMargin);
    margin-bottom: 0.3rem;
    font-size: var(--fontSize);
}

.flip-card-back h1 {
    margin: var(--textCardMargin);
}

/* ====================== */
/*  Flipcard Section End  */
/* ====================== */


::-webkit-scrollbar {
    width: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--color2);
    border-radius: 50px;

}

body::-webkit-scrollbar-track {
    background: var(--color4);

    background-image: linear-gradient(45deg,);

}

::-webkit-scrollbar-thumb:hover {
    background: var(--hoverColor);

}

*,
*:before,
*:after {
    box-sizing: border-box;
}

.footer {
    /* ============== */
    /* Posicionamento */
    /* ============== */

    width: 100%;
    bottom: 0;


    grid-template-rows: auto 1fr auto;
    padding: 30px 30px 20px 30px;


    /* =================== */
    /* Definições da Fonte */
    /* =================== */

    font-family: acumin-pro, system-ui, sans-serif;
    font-size: 14px;

    /* ========================= */
    /* Alinhamento dos Elementos */
    /* ========================= */

    flex-flow: row wrap;
    align-items: start;
    display: flex;


    /* ========= */
    /* Aparência */
    /* ========= */

    border-top: 1px solid var(--footerBorder);
    background-color: var(--footerBackground);
    color: var(--footerColor);
}

.footer>* {
    flex: 1 100%;
}

.footerBox {
    margin-right: 1.25em;
    margin-bottom: 2em;

}


.footerBox h2 {
    margin-top: 1.3em;
    font-size: 15px;
    font-weight: 400;
}

.navTitle {
    font-weight: 400;
    font-size: 20px;
}

.footer address {
    font-style: normal;
    color: var(--footerrColorNav);
}

.footerEmailContact {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    max-width: max-content;
    background-color: var(--footerButtonColor);
    border-radius: 100px;
    color: var(--footerColor);
    line-height: 0;
    margin: 0.6em 0;
    font-size: 1rem;
    padding: 0 1.3em;
}
.footerEmailContact:hover{
    background: var(--hoverColor3);
}

.footer ul {
    list-style: none;
    padding-left: 0;
}

.footer li {
    line-height: 2em;
}

.footer a {
    text-decoration: none;
}

.footerNav {
    display: flex;
    flex-flow: row wrap;
}

.footerNav>* {
    flex: 1 50%;
    margin-right: 1.25em;
}

.navUl a {
    color: var(--footerColorNav);
}

@media screen and (min-width: 40.375em) {
    .footerNav>* {
        flex: 1;
    }

    .footerBox {
        flex: 1 0px;
    }

    .footerNav {
        flex: 2 0px;
    }
}

.typing-effect h3 {
    margin: 0;

}

.typing-effect {
    /* margin: var(--textCardMargin); */

    align-items: center;
    height: fit-content;
    overflow: hidden;
    border-right: 2px solid;
    width: 0;
    white-space: nowrap;
    animation: typing 3s steps(44) infinite alternate-reverse;
}

@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

@keyframes typing-back {
    from {
        width: 100%
    }

    to {
        width: 0
    }
}

.externalMaterial {
    width: auto;
    padding: var(--defaltPaddingMargin);
    margin: var(--defaltPaddingMargin);
    border-radius: var(--sectionBorderRadius);
    background-image: var(--backgroundImageGradient);
    text-align: center;
}


.externalMaterialText {
    display: flex;
    justify-content: center;
    justify-self: center;
    
    align-items: center;
    background: transparent;
    width: 100%;
    min-height: 150vh;
}

.externalMaterialInnerText {
    width: 100%;
}



#iframeComputerArqQuiz {
    width: var(--defaltWidthRoadMap);
    height: var(--defaltHeightRoadMap);
}

#iframeRoadMap {
    width: var(--defaltWidthRoadMap);
    height: var(--defaltHeightRoadMap);
}

.externalMaterialInner {
    width: var(--defaltWidthExternalMaterialInner);
    height: var(--defaltHeightExternalMaterialInner);
}




.toolTips {
    margin-top: var(--textPaddingMargin);
}

#menuToggle {
    display: block;

    padding: var(--defaltPaddingMargin);

    z-index: 3;

    -webkit-user-select: none;
    user-select: none;

}

#menuToggle a {
    text-decoration: none;
    color: #232323;

    transition: color 0.3s ease;

}

#menuToggle a:hover {
    color: var(--hoverColor2);
    padding-left: calc(0.5rem + 5px);
    border-left: var(--color1) solid 5px;
    transition: all .3s;
}

#menuToggle input {
    /* display: block; */
    width: 40px;
    height: 32px;
    position: absolute;

    cursor: pointer;

    opacity: 0;
    /* hide this */
    z-index: 4;
    /* and place it over the hamburger */

    -webkit-touch-callout: none;
}

#menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;

    background: var(--footerColor);
    border-radius: 3px;

    z-index: 3;

    transform-origin: 4px 0px;

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        opacity 0.55s ease;

}

#menuToggle span:first-child {
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
    transform-origin: 0% -100%;
}

#menuToggle input:checked~span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: var(--footerColor);
}

#menuToggle input:checked~span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked~span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
}

#menu {
    position: absolute;
    min-width: 250px;
    min-height: auto;
    max-height: 90vh;
    width: auto;
    /* height: 100%; */


    overflow-y: auto;

    justify-self: end;

    /* right: 0px; */
    right: -1px;
    margin-top: 30px;
    padding: var(--defaltPaddingMargin);

    border-radius: 8px;


    /* background: var(--color3); */
    /* background-image: linear-gradient(45deg, rgba(128, 234, 250, 0.75), rgba(164, 255, 255, 0.75)); */
    background-image: var(--backgroundImageGradient);


    list-style-type: none;
    -webkit-font-smoothing: antialiased;

    transform-origin: 0% 0%;
    transform: translate(100%, 0);

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);


    width: calc(auto + 300px);

    background-color: var(--color3);
    list-style: none;
    z-index: 2;

    box-shadow: 10px 0 10px rgba(0, 0, 0, .5);
}


#menuToggle ul::-webkit-scrollbar-track {
    background: var(--color5);
}

/* Handle */
#menuToggle ul::-webkit-scrollbar-thumb {
    background: var(--color1);
}

#menuToggle ul::-webkit-scrollbar-thumb:hover {
    background: var(--hoverColor);
}

#menuToggle ul li::-webkit-scrollbar-track {
    display: none;
}

.menu li {
    padding: 10px;
    font-size: var(--fontSizeMenu);
}

#menuToggle input:checked~ul {
    transform: none;
}

#menuToggle input:checked~#menu {
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
}


#menu li {
    border-top: solid 1px black;
    border-bottom: solid 1px black;
    padding: var(--defaltPaddingMargin);
}

#menu ul {
    display: none;
    list-style: none;
}

#menu input {
    display: block;
    cursor: pointer;

    -webkit-touch-callout: none;
    width: 1rem;
    height: 1rem;
    position: absolute;
    transition: color 0.3s ease;
}

#menu input:checked~ul {
    display: block;
}

#menu input:hover~label {
    color: var(--hoverColor5);
    padding-left: calc(0.5rem + 5px);
    border-left: var(--color1) solid 5px;
    transition: all .3s;
}

#menu input:not(:hover)~label {
    color: var(--fontColor);
    padding-left: 0;
    border-left: unset;
    transition: all .3s;
}

#menu input:checked~img {
    rotate: 90deg;
    transition: all .3s;
}

#menu input:not(:checked)~img {
    rotate: 0;
    transition: all .3s;
}

#menu input:hover~img {
    rotate: 90deg;
    transition: all .3s;
}

#menu input:not(:hover)~img {
    rotate: 0;
    transition: all .3s;
}
#menu input:checked ~ .svgBtn{
    rotate: 90deg;
    transition: all .3s;
}
#menu input:not(:checked) ~ .svgBtn{
    rotate: 0;
    transition: all .3s;
}

#menu input:hover ~ .svgBtn {
    transform: rotate(90deg);
    transition: all 0.3s;
}
#menu label:hover ~ .svgBtn {
    transform: rotate(90deg);
    transition: all 0.3s;
}

#menu input:not(:hover) ~ .svgBtn {
    rotate: 0;
    transition: all .3s;
}



.arrow {
    width: 0.5rem;
    align-self: center;
    justify-self: center;
    aspect-ratio: attr(width) / attr(height);

}

#menu .lbInput {
    cursor: pointer;
    transition: color 0.3s ease;
}

#menu .lbInput:hover {
    color: var(--hoverColor2);
    padding-left: calc(0.5rem + 5px);
    border-left: var(--color1) solid 5px;
    transition: all .3s;
}

#menu input:checked~label {
    /* color: var(--color3); */
    color: #194fbc;
    border-left: var(--color1) solid 5px;

}

#menu input:not(:checked)~label {
    color: var(--fontColor);
    border-left: unset;
    transition: color 0.3s ease;
}

.code-box pre {
    text-align: start;
    margin: 0;
    white-space: pre-wrap;
    tab-size: 4;
}
  
.code-box code {
    white-space: pre-wrap; /* ou pre-line */
    tab-size: 4;
}
  
.copy-button {
    width: auto;
    height: auto;
    padding: var(--defaltPaddingMargin);
    border-radius: 48px;
    background-image: var(--backgroundImageGradient);
    margin: var(--defaltPaddingMargin);
    border: none;
    cursor: pointer;
}

.copy-button:hover {
    background: var(--hoverColor4);
}
  
.copy-button h3 {
  
    font-family: monospace;
    font-family: 'Tech';
    margin: 0;
    padding: 0 var(--defaltPaddingMargin) 0 var(--defaltPaddingMargin);
    text-align: center;
    align-items: center;
    align-self: center;
    color: var(--fontColor);
    font-size: var(--fontSize);
}


.pop-up-sec {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    /* margin: var(--textPaddingMargin); */
    margin-bottom: 0;
    text-align: center;
    min-height: var(--defaltTopicsTitleSizeV);
    z-index: 200;
    overflow: hidden;
    max-height: calc(100vh - 2 * var(--textPaddingMargin));
}


.pop-up-text-inner {
    min-height: 25vw;
    height: 100%;
    padding: var(--defaltPaddingMargin);
    width: var(--defaltPopUpBoxSizeW);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: var(--backgroundImageGradient);
    border-radius: var(--sectionBorderRadius);
    overflow-wrap: break-word;
    word-break: break-word;
}

.pop-up-text-inner h2 {
    padding-bottom: var(--textPaddingMargin);
    text-align: center;
}

.pop-up-text-inner h3 {
    padding-left: var(--defaltPaddingMargin);
    padding-right: var(--defaltPaddingMargin);
    text-align: center;
    margin-bottom: var(--textPaddingMargin);

}

.pop-up-text-inner .buttons h2, .pop-up-text-inner .buttons h3{
    margin: 0;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    color: #000;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

  
.close span {
    display: block;
    width: 100%;
    height: 4px;
    background-color: #000;
    position: absolute;
    border-radius: 30%;
    transition: transform 0.3s ease;
}
  
.close span:first-child {
    transform: rotate(45deg);
    top: 50%;
    left: 50%;
    margin-top: -1px;
    margin-left: -10px;
}
  
.close span:last-child {
    transform: rotate(-45deg);
    top: 50%;
    left: 50%;
    margin-top: -1px;
    margin-left: -10px;
}
  


.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 180; 
}

.back-fade-out-50{
    background-color: rgba(0, 0, 0, 0.5);
}

.back-fade-in-50{
    background-color: rgba(255, 255, 255, 0.5);
}
.back-fade-out-25{
    background-color: rgba(0, 0, 0,0.25);
}

.back-fade-in-25{
    background-color: rgba(255, 255, 255,0.25);
}

.imgBack{
    background: rgba(255, 255, 255, 0.815);
    padding: var(--textPaddingMargin);
    border-radius: var(--sectionBorderRadius);
}

.makeInnerBorder{
    width: var(--defaltBoxSizeW); 
    height: var(--defaultBoxSizeH); 
    padding: var(--textPaddingMargin);
    overflow: hidden;

    display: flex;
    justify-content: center;
}

.makeInnerBorder img {    
    width: 300px; 
    height: var(--defaultBoxSizeH); 
    border-radius: 10px; /* Adiciona bordas arredondadas com um raio de 10px (ajuste conforme necessário) */
    cursor: pointer;
}

.img-backNess {
    width: 300px; 
    padding: var(--textPaddingMargin);
    border-radius: var(--sectionBorderRadius);
    /* overflow: hidden; Cortará a imagem que ultrapassar as dimensões do contêiner */
}

.img-backless {
    width: var(--defaltBoxSizeW); 
    height: var(--defaultBoxSizeH); 
    padding: var(--textPaddingMargin);
    border-radius: var(--sectionBorderRadius);
    overflow: hidden; /* Cortará a imagem que ultrapassar as dimensões do contêiner */
}



.cookie-alert {
    font-family: 'tech';
    font-size: medium;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #e6e6e6;
    padding: 10px;
    text-align: center;
    z-index: 250;
}
  
.cookie-alert p {
    margin: 10px 0 15px; 
}
  
.cookie-alert button {
    font-family: 'tech';
    font-size: medium;
    margin: 5px;
    padding: 8px 16px;
    background: var(--backgroundImageGradient); 
    color: var(--fontColor);
    border: none;
    border-radius: 5px; 
    cursor: pointer;
}

.cookie-alert button:hover {
    background: var(--hoverColor2);
}

.hover-effect1:hover {
    background: var(--hoverColor);
}

.hover-effect2:hover {
    background: var(--hoverColor2);
}

.hover-effect3:hover {
    background: var(--hoverColor3);
}

.hover-effect4:hover {
    background: var(--hoverColor4);
}

.hover-effect5:hover {
    background: var(--hoverColor5);
}

.text-hover-effect:hover{
    color: var(--hoverColor2);
}

.svgBtn {
    width: 0.25em;
    height: 1em;
}

.externalMaterial h1,.externalMaterial h2, .externalMaterial h3, .externalMaterial h4 {
    margin: 0;
    padding: 0;
}

.topicsTextInner a h3 {

    margin: 0;
}



.tabulated {
    white-space: normal;
    /* white-space: pre-wrap; */
}

.tabulated a {
    /* display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%; */
    display: block;
    margin: var(--textPaddingMargin) 0 var(--textPaddingMargin) 0;
}



/* Estilos para o lightbox/modal */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    display: none;
    z-index: 150;
}

.modal-content {
    object-fit: contain;
    max-width: 90%;
    width: 80%;
    max-height: 90%;
}





/* ============ */
/*  Image Show  */
/* ============ */



.imgShow {
    width: var(--defaltBoxSizeW);
    min-height: var(--defaltBoxSizeV);
    height: auto;
    position: relative;
    display: inline-block;
    overflow: hidden; /* Ocultar conteúdo que ultrapassa as dimensões da div */
    border-radius: var(--sectionBorderRadius);
}

.imgShow img {
    width: var(--defaltBoxSizeW);
    height: var(--defaltBoxSizeV);
    display: block;
    filter: brightness(0.3); /* Aplicar o filtro de escurecimento na imagem sempre */
    object-fit: cover; /* Fazer a imagem preencher a área sem distorções */
}

.imgShow h1,
.imgShow h3 {
    position: absolute;
    transform: translateY(-50%);
    color: #fff;
    text-align: center;
    width: 100%;
    height: auto;
    opacity: 1;
    transition: transform 0.3s ease-in-out; /* Transição suave de transformação */
    padding: 0 var(--defaltPaddingMargin) 0 var(--defaltPaddingMargin);
    overflow: wrap;
}

.imgShow h1 {
    top: 50%; /* Inicialmente, o h1 está no centro da tela */
    z-index: 2; /* Coloque o h1 acima da imagem */
}

.imgShow h3 {
    font-family: open;
    font-family: 'latodown';
    top: 200%; /* Inicialmente, o h3 está abaixo da tela */
    z-index: 1; /* Coloque o h3 abaixo do h1 */
    /* transition-delay: 0.3s; Adicione um atraso à transição do h3 para que comece depois do h1 */
}

.imgShow:hover h1 {
    transform: translateY(-200%); /* Move o h1 para fora da tela (para cima) ao passar o mouse */
    transition-delay: 0s; /* Remova o atraso na transição do h1 para que comece imediatamente */
}

.imgShow:hover h3 {
    top: 50%; /* Move o h3 para o centro da tela ao passar o mouse */
    transform: translateY(0%); /* Garanta que o h3 não comece a se mover até que o h1 tenha terminado */
}

.card-boxes-inner{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    margin: 8vh 0 8vh 0;

}

.mini-card {
    height: 35vh;
    width: 35vh;
    /* padding: var(--defaltPaddingMargin); */

    background-image: var(--backgroundImageGradient);

    position: relative;
    display: inline-block;
    overflow: hidden; /* Ocultar conteúdo que ultrapassa as dimensões da div */
    border-radius: var(--sectionBorderRadius);
}

.mini-card img {
    height: 100%;
    width: 100%;
    display: block;
    filter: brightness(0.5); /* Aplicar o filtro de escurecimento na imagem sempre */
    object-fit: cover; /* Fazer a imagem preencher a área sem distorções */
}


.mini-card h1,
.mini-card h3 {
    position: absolute;
    transform: translateY(-50%);
    color: #ffffff;
    text-align: center;
    width: 100%;
    height: auto;
    opacity: 1;
    transition: transform 0.3s ease-in-out; /* Transição suave de transformação */
    /* padding: 0 var(--defaltPaddingMargin) 0 var(--defaltPaddingMargin); */
    overflow: wrap;
}


.mini-card h1,
.mini-card h3 {
    top: 50%; /* Inicialmente, o h1 está no centro da tela */
    z-index: 2; /* Coloque o h1 acima da imagem */
}




@media screen and (max-width: 767px) {
    .card-boxes-inner {
      grid-template-columns: repeat(2, 1fr); /* Uma coluna em telas menores */
      margin: 4vh 0 4vh 0; /* Reduza a margem para ocupar melhor o espaço */
    }

    .mini-card {
        height: 20vh;
        width: 20vh;
        /* padding: var(--defaltPaddingMargin); */
    
        background-image: var(--backgroundImageGradient);
    
        position: relative;
        display: inline-block;
        overflow: hidden; /* Ocultar conteúdo que ultrapassa as dimensões da div */
        border-radius: var(--sectionBorderRadius);
    }

    .imgShow h3 {
        font-size:large;
    }

    .imgShow:hover h1 {
        transform: translateY(-400%); /* Move o h1 para fora da tela (para cima) ao passar o mouse */

        transition-delay: 0s; /* Remova o atraso na transição do h1 para que comece imediatamente */
    }
    
    .imgShow:hover h3 {
        top: 50%; /* Move o h3 para o centro da tela ao passar o mouse */
        transform: translateY(-20%); /* Garanta que o h3 não comece a se mover até que o h1 tenha terminado */

    }

    

  }







