

{% extends '../../../../base.html' %}

{% block title%}Inteiro{% endblock %}

{% block content %} 

    <section class="topics text">
        <div class="topicsTextInner">
            <h2>
                Inteiros
            </h2>

            <h3>
                São números inteiros, assim como na matemática, 
                não podendo assumir valores fracionários
            </h3>
        </div>
    </section>

    <section class="topics text">
        <div class="topicsTextInner Info">
            <h2>
                Como declarar em c
            </h2>

            <h3>
                int nome_da_variável;
            </h3>

            <h3>
                Sendo possível inicializá-la ainda na declaração:
            </h3>

            <h3>
                int nome_da_variável = valor;
            </h3>
        </div>
    </section>

    <section class="topics text">
        <div class="topicsTextInner Info">
            <h2>
                Exemplo de declaração de um número inteiro
            </h2>

            <h3>
                int idade;
            </h3>

            <h2>
                Declaração com Inicialização
            </h2>
            <h3>
                int idade = 18;
            </h3>


        </div>
    </section>

    <section class="topics text">
        <div class="topicsTextInner Info">
            <h2>
                Como operar com números inteiros
            </h2>

            <h3>
                Toda operação tem que estar relacionada à alguma variável, 
                atribuindo o resultado da operação a ela
            </h3>

            <h3>
                Exemplo:
            </h3>

            <h3>
                int idade = 18;
            </h3>

            <h3>
                idade = idade + 2;
            </h3>

            
            <h3>
                Neste exemplo a variável que antes possuia valor 18, foi atualizada recebendo o valor de quanto ela valia(18) somado
                com 2, logo o valor armazenado na variável idade agora é 20
            </h3>


        </div>
    </section>

    <a href="https://docs.google.com/document/d/1GsEHvH2JwgCaYI8iWsgi7hxZSDbh_pzm/edit?usp=share_link&ouid=108130290740587722835&rtpof=true&sd=true"
        target="_blank" class="btnToMakeBorder">
        <section class="buttons hover-effect5">
            <div>
                <h3>
                    Mais Informações
                </h3>
            </div>
        </section>
    </a>

    <a href="#" class="btnToMakeBorder">
        <section class="buttons hover-effect5">
            <div>
                <h3>
                    Rolar Para o topo
                </h3>
            </div>
        </section>
    </a>


{% endblock %}
