

{% extends '../../../base.html' %}

{% block title%}Fluxograma{% endblock %}

{% block content %} 

    <section class="topics text">
        <div class="topicsTextInner">
            <h2>
                Fluxograma
            </h2>

            <h3>
                Um fluxograma é uma representação gráfica de um algoritmo. 
                Ele utiliza símbolos geométricos e setas para representar diferentes etapas e decisões do algoritmo
            </h3>
        </div>
    </section>

    <section class="topics text">
        <div class="topicsTextInner">
            <h2>
                Símbolos de fluxograma
            </h2>

            <h3>
                Os símbolos de fluxograma incluem retângulos (representando ações), losangos (representando decisões), 
                setas (indicando a sequência do fluxo) e outros símbolos específicos para representar diferentes tipos de operações.
            </h3>
        </div>
    </section>

    <section class="topics text">
        <div class="topicsTextInner">
            <h2>
                Vantagens do uso de fluxogramas
            </h2>

            <h3>
                Os fluxogramas são úteis para visualizar o fluxo de um algoritmo, identificar possíveis erros ou gargalos e comunicar 
                efetivamente a lógica do algoritmo para outras pessoas.
            </h3>
        </div>
    </section>
    

    <a href="https://drive.google.com/file/d/18nnQHWQujSRVtDOopVJmX8LRBqE_R3K7/view?usp=share_link"
        target="_blank" class="btnToMakeBorder">
        <section class="buttons hover-effect5">
            <div>
                <h3>
                    Mais Informações
                </h3>
            </div>
        </section>
    </a>


{% endblock %}
