

{% extends '../../../base.html' %}

{% block title%}Descrição Narrativa{% endblock %}

{% block content %} 

    <section class="topics text">
        <div class="topicsTextInner">
            <h2>
                Descrição Narrativa
            </h2>

            <h3>
                A descrição narrativa é um método de representação de algoritmos que consiste em analisar o enunciado do problema e descrever, 
                utilizando uma linguagem natural, os passos a serem seguidos para a sua resolução.
            </h3>
        </div>
    </section>

    <section class="topics text">
        <div class="topicsTextInner">
            <h2>
                Características da descrição narrativa
            </h2>

            <h3>
                Na descrição narrativa, cada passo do algoritmo é expresso de forma sequencial e detalhada, 
                utilizando termos e frases em linguagem natural. É importante que cada passo seja uma instrução realizável 
                e que a ordem dos passos seja precisa.
            </h3>
        </div>
    </section>

    <section class="topics text">
        <div class="topicsTextInner">
            <h2>
                Flexibilidade e limitações da descrição narrativa
            </h2>

            <h3>
                Embora a descrição narrativa seja uma forma de representação de algoritmos bastante flexível, 
                ela pode ser menos precisa e mais suscetível a ambiguidades do que outras formas, como o fluxograma ou o pseudocódigo.
            </h3>
        </div>
    </section>

    <a href="https://drive.google.com/file/d/18nnQHWQujSRVtDOopVJmX8LRBqE_R3K7/view?usp=share_link" 
        target="_blank" class="btnToMakeBorder">
        <section class="buttons hover-effect5">
            <div>
                <h3>
                    Mais Informações
                </h3>
            </div>
        </section>
    </a>
    

{% endblock %}
