

{% extends 'base.html' %}

{% block title%}Apresentação{% endblock %}

{% block content %}

    <section class="topics text">
        <div class="topicsTextInner">
            <h2 id="siteObjectives">
                Objetivo do site
            </h2>

            <h3>
                Ensinar e orientar estudantes que estão ingressando na programação 
                ou que já possuem alguma prática através de objetos de aprendizagem.
            </h3>
        </div>
    </section>
    
    <section class="topics text">
        <div class="topicsTextInner">
            <h3>
                Neste site, vamos mostrar o que pode ser feito com programação e 
                como realizar diversos projetos.
            </h3>
        </div>
    </section>

    <section class="topics text">
        <div class="topicsTextInner">
            <h2 id="teachingMethods">
                Método de Ensino
            </h2>

            <h3> 
                Forneceremos informações rápidas e objetivas, visando otimizar a aprendizagem.
                <!-- O método utilizado nesse site para ensinar e orientar, serão informações rápida e objetivas, 
                afim de otimizar a aprendizagem. -->

            </h3>
        </div>
    </section>

    <section class="topics text">
        <div class="topicsTextInner">
            <h3>
                Também disponibilizamos materiais de estudo mais completos para 
                aprofundamento em tópicos específicos ou conteúdo geral.
                <!-- , assim você decidirá qual o mais eficaz para si. -->
            </h3>
        </div>
    </section>

    <section class="topics text">
        <div class="topicsTextInner">
            <h2 id="whyCode">
                Por que Programar?
            </h2>

            <h3>
                Através da programação, podemos transformar em realidade 
                aquilo que desejamos, utilizando nossa imaginação para criar 
                projetos da forma que preferirmos.
            </h3>
        </div>
    </section>

    <section class="topics text">
        <div class="topicsTextInner">
            <h3>
                Além de dar vida a projetos que antes existiam apenas na imaginação, 
                a programação está se tornando parte integrante do nosso dia-a-dia, 
                presente em quase tudo o que fazemos.
            </h3>
        </div>
    </section>

    <section class="topics text">
        <div class="topicsTextInner">
            <h3>
                Atualmente, praticamente tudo com que temos contato depende de algo relacionado 
                à programação. Portanto, é válido afirmar que esse é um mercado em expansão, 
                além de ser lucrativo e abrangente.
            </h3>
        </div>
    </section>

    <a href="projetos">
        <section class="topics text" id="projetosIndex">
            <div class="topicsTextInner">
                <h2 id="canBeDone">
                    O que pode ser feito
                </h2>

                <h3>
                    Também podemos fornecer alguns exemplos do que pode ser realizado ao aprender a programar.
                </h3>

                <h3 class="toolTips">
                    <-- Clique no card para mais informações -->
                </h3>

            </div>
        </section>
    </a>

    <a href="roadmap">
        <section class="topics text" id="projetosIndex">
            <div class="topicsTextInner">
                <h2>
                    RoadMap
                </h2>

                <h3>
                    O método de aprendizagem em programação apresentado neste site se baseia em um 
                    estilo de mapa do conhecimento que indica um caminho a ser seguido, 
                    também conhecido como roadmap.
                </h3>

                <h3>
                    Embora a linguagem C seja aprofundada nesse roadmap, alguns desses conhecimentos 
                    são aplicáveis a outras linguagens também."
                </h3>

                <h3 class="toolTips">
                    <-- Clique no card para acessar o RoadMap -->
                </h3>

            </div>
        </section>
    </a>
    
    <a href="#" class="btnToMakeBorder">
        <section class="buttons hover-effect5">
            <div>
                <h3>
                    Rolar Para o topo
                </h3>
            </div>
        </section>
    </a>

{% endblock %}
