

{% extends '../../base.html' %}

{% block title%}Tipos de Dados{% endblock %}

{% block content %} 

    <section class="topics text">
        <div class="topicsTextInner">
            <h2>
                Tipos de Dados
            </h2>

            <h3>
                Os tipos de dados são elementos fundamentais na programação. 
                Eles representam os diferentes valores que podem ser armazenados e manipulados por um programa.
            </h3>
        </div>
    </section>

    <section class="topics text">
        <div class="topicsTextInner">
            <h2>
                Inteiro (int)
            </h2>

            <h3>
                Representa números inteiros, sem valores fracionários.  
            </h3>
        </div>
    </section>

    <section class="topics text">
        <div class="topicsTextInner">
            <h2>
                Real (float, double)
            </h2>

            <h3>
                Representa números reais, incluindo valores fracionários.   
            </h3>
        </div>
    </section>

    <section class="topics text">
        <div class="topicsTextInner">
            <h2>
                Caractere (char)
            </h2>

            <h3>
                Representa caracteres individuais, como letras, números e símbolos.
            </h3>
        </div>
    </section>

    <section class="topics text">
        <div class="topicsTextInner">
            <h2>
                Lógico (bool)
            </h2>

            <h3>
                Representa valores lógicos verdadeiro ou falso.
            </h3>
        </div>
    </section>
    

    <a href="#" 
        class="btnToMakeBorder">
        <section class="buttons hover-effect5">
            <div>
                <h3>
                    Mais Informações
                </h3>
            </div>
        </section>
    </a>


{% endblock %}
