

{% extends '../../base.html' %}

{% block title%}Quiz{% endblock %}

{% block content %}

    <section class="topics-title">
        <h2>
            Quiz
        </h2>
    </section>

    <section class="externalMaterial" id="logicProgrammingQuiz1">
        <iframe 
            id="iframeComputerArqQuiz"
            style="max-width:100%" 
            src="https://wordwall.net/embed/7e50da33828f483eb6ba6839977c92ad?themeId=21&templateId=69&fontStackId=0"
            frameborder="0" 
            allowfullscreen>
        </iframe>
    </section>

    

    <section class="externalMaterial" id="logicProgrammingQuiz2">
        <iframe 
            id="iframeComputerArqQuiz"
            style="max-width:100%" 
            src="https://wordwall.net/pt/embed/f0da2c697488468bbc165c843dbd9edb?themeId=21&templateId=69&fontStackId=0" 
            frameborder="0" 
            allowfullscreen>
        </iframe>
    </section>


{% endblock %}
