

{% extends '../../base.html' %}

{% block title%}Recém Implementada{% endblock %}

{% load static %}

{% block content %}

<section class="topics text">
    <div class="topicsTextInner">
        <h2>
            Distribuição de Alunos

        </h2>
        <div class="iframeWrapper">
            <iframe width="937" height="580" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vSwhmOEWKAgNxokDpsjgNWEtGlaW9i3wTuUBmf4B1fh8S4Ed2I9kFZo2o--KbsPcuMWF0sCLXlzkgMB/pubchart?oid=1385813489&amp;format=interactive"></iframe>
        </div>
    </div>
</section>


<section class="topics text">
    <div class="topicsTextInner">
        <h2>
            Ocorrência de Dificuldades por Categoria
        </h2>
        <div class="iframeWrapper">
            <iframe width="937" height="580" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vSwhmOEWKAgNxokDpsjgNWEtGlaW9i3wTuUBmf4B1fh8S4Ed2I9kFZo2o--KbsPcuMWF0sCLXlzkgMB/pubchart?oid=72558195&amp;format=interactive"></iframe>
        </div>
    </div>
</section>


<section class="topics text">
    <div class="topicsTextInner">
        <h2>
            Inovações Favoritas: O Que Você Escolheria?
        </h2>
        <div class="iframeWrapper">
            <iframe width="937" height="580" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vSwhmOEWKAgNxokDpsjgNWEtGlaW9i3wTuUBmf4B1fh8S4Ed2I9kFZo2o--KbsPcuMWF0sCLXlzkgMB/pubchart?oid=335691576&amp;format=interactive"></iframe>
        </div>
    </div>
</section>


<a href="#" class="btnToMakeBorder">
    <section class="buttons hover-effect5">
        <div>
            <h3>
                Rolar Para o topo
            </h3>
        </div>
    </section>
</a>


{% endblock %}
