

{% extends './base.html' %}

{% block title%}Page{% endblock %}

{% block content %} 

    <section class="topics text">
        <div class="topicsTextInner">
            <h2>
                Tópico
            </h2>

            <h3>
                Explicação
            </h3>
        </div>
    </section>
    
    <a href="#"
    target="_blank">
        <section class="buttons">
            <div>
                <h3>
                    Mais Informações
                </h3>
            </div>
        </section>
    </a>


{% endblock %}
