

{% extends '../../../../base.html' %}

{% block title%}Quiz{% endblock %}

{% load static %}

{% block content %}


<section class="topics-title">
    <h2>
        Quiz
    </h2>
</section>

<section class="externalMaterial" id="ComputerArqQuiz">
    <iframe 
        id="iframeComputerArqQuiz"
        style="max-width:100%" 
        src="https://wordwall.net/pt/embed/97febe9368df480fbc251fdb19c430c6?themeId=1&templateId=5&fontStackId=0" 
        frameborder="0" 
        allowfullscreen>
    </iframe>
</section>

{% endblock %}
