

{% extends '../../../../base.html' %}

{% block title%}Booleano{% endblock %}

{% block content %} 
    
    <section class="topics text">
        <div class="topicsTextInner">
            <h2>
                Tópico
            </h2>

            <h3>
                Explicação
            </h3>
        </div>
    </section>
    
    <a href="#"
        target="_blank" class="btnToMakeBorder">
        <section class="buttons hover-effect5">
            <div>
                <h3>
                    Mais Informações
                </h3>
            </div>
        </section>
    </a>


{% endblock %}



