

{% extends '../../base.html' %}

{% block title%}Recém Implementada{% endblock %}

{% load static %}

{% block content %}


<section class="topics-title">
    <h2>
        Automação do Cálculo da Reta Tangente em Python Implementado por Lucas Rodrigues e Dakró
    </h2>
</section>


<section class="topics text">
    <div class="topicsTextInner">
        <h2>
            Script em Python
        </h2>

        <h3>
            O desafio lançado pelo professor Germano Amaral Monerat, do Instituto Politécnico da Universidade Estadual 
            do Rio de Janeiro, envolve a criação de um programa capaz de analisar funções matemáticas e suas propriedades tangentes. 
            Embora a implementação tenha sido realizada em Python, a instrução original abriu espaço para a escolha de qualquer 
            linguagem de programação.
        </h3>
    </div>
</section>


<section class="topics text">
    <div class="topicsTextInner">
        <h2>
            Funcionalidades Principais
        </h2>

        <h3>
            O programa tem a tarefa de receber informações do usuário, incluindo uma função matemática específica e 
            um ponto coordenado escolhido. A partir desses dados, o programa realiza dois cálculos importantes: a determinação 
            da derivada da função e o estabelecimento da equação da reta tangente associada a esse ponto.
        </h3>
    </div>
</section>

<section class="topics text">
    <div class="topicsTextInner">
        <h2>
            Visualização Gráfica
        </h2>

        <h3>
            Um aspecto crucial da solução é a apresentação visual dos resultados. O programa produz um gráfico que visualiza a função original e a reta tangente, destacando o ponto de interesse definido pelo usuário. Essa representação gráfica torna mais compreensível a relação entre a função, a derivada e a reta tangente.
        </h3>
    </div>
</section>

<section class="topics text">
    <div class="topicsTextInner">
        <h2>
            Ênfase na Flexibilidade de Linguagem
        </h2>

        <h3>
            Embora a implementação tenha sido escolhida em Python, é importante ressaltar que o desafio original permitiu a escolha de qualquer linguagem de programação para a criação do programa. Isso destaca a versatilidade e a adaptabilidade do desafio, permitindo aos participantes demonstrar suas habilidades independentemente da linguagem escolhida.
        </h3>
    </div>
</section>

<section class="topics text">
    <div class="topicsTextInner">
        <h2>
            Conclusão: Prática e Aprendizado
        </h2>

        <h3>
            Esse desafio proposto pelo professor Germano não apenas estimula a aplicação de conhecimentos em programação, matemática e visualização de dados, mas também enfatiza a importância da flexibilidade de linguagem. A prática na implementação e na análise de funções matemáticas tangentes por meio de um programa fortalece a compreensão dos conceitos subjacentes e demonstra a eficácia da automação em lidar com tarefas complexas.
        </h3>
    </div>
</section>



<a href="https://github.com/LucasRodriguesEstorckPinto/Derivatives"
    target="_blank" class="btnToMakeBorder">
    <section class="buttons hover-effect5">
        <div>
            <h3>
                Ver Repositório
            </h3>
        </div>
    </section>
</a>


<a href="#" class="btnToMakeBorder">
    <section class="buttons hover-effect5">
        <div>
            <h3>
                Rolar Para o topo
            </h3>
        </div>
    </section>
</a>


{% endblock %}
