

{% extends '../../base.html' %}

{% block title%}Motivações{% endblock %}

{% block content %} 

    <section class="topics text">
        <div class="topicsTextInner">
            <h2>
                Habililidades adquiridas
            </h2>

            <h3>
                - Entender como simplificar/automatizar processos longos e ou complexos.
                (através da prática do "pensamento computacional").
            </h3>

            <h3>
                - Trabalho em equipe: muitos projetos de programação são realizados por equipes, o que permite a desenvolvimento de habilidades de colaboração e comunicação.
            </h3>

            <h3>
                - Adaptabilidade: a tecnologia está sempre evoluindo, então os programadores precisam ser flexíveis e estar dispostos a aprender novos conceitos e tecnologias.
            </h3>

            <h3>
                - Autoaprendizado: a programação envolve constantemente aprender novos conceitos e tecnologias, o que incentiva a busca por conhecimento e habilidades de autoaprendizado. 
            </h3>
        </div>
    </section>

    <section class="topics text">
        <div class="topicsTextInner">
            <h2>
                Benefícios de criar/utilizar programas/scripts
            </h2>

            <h3>
                - executar tarefas complexas de forma mais [rápida], [consistente] e [segura].
            </h3>

            <h3>
                (um processo executado por um computador é mais focado, elimina atrasos por distrações, tornando a execução mais rápida)
            </h3>

            <h3>
                (sem distrações também é eliminado o risco de erros por falta de atenção)
            </h3>

            <h3>
                (e, caso esteja modificando algo importante, é possível criar uma cópia de segurança (backup), para o caso do código ter algum erro 
		        pelo lado humano durante a programação e você poder restaurar ao estado anterior, corrigir a falha lógica e executar novamente).
            </h3>

            <h3>
                - inovação: a criação de programas permite a inovação e o desenvolvimento de soluções inovadoras para problemas antigos.
            </h3>

            <h3>
                - criação de novos empregos: a demanda por profissionais de programação está em alta, o que pode levar a novas oportunidades de emprego e carreira.
            </h3>
        </div>
    </section>
    
    <section class="topics text">
        <div class="topicsTextInner">
            <h2>
                - comandar/automatizar robôs e máquinas industriais.
            </h2>

            <h3>
                - criar applicativos.
            </h3>

            <h3>
                - criar jogos.
            </h3>

            <h3>
                - criar efeitos especiais gráficos (como em filmes).
            </h3>

            <h3>
                - facilitar pesquisas científicas.
            </h3>

            <h3>
                - finanças: as instituições financeiras usam a programação em alto nível
                para automatizar processos financeiros, como contabilidade, análise de 
                investimentos e gerenciamento de risco.
            </h3>

            <h3>
                - saúde: a programação em alto nível é usada para desenvolver sistemas de 
                informação em saúde, como electronic medical records (EMR) e sistemas de gestão 
                de pacientes.
            </h3>

            <h3>
                - varejo: as empresas de varejo usam a programação em alto nível para 
                automatizar processos de venda, como gerenciamento de estoque e análise de 
                dados de vendas.
            </h3>
        </div>
    </section>
    
    <a href="#" 
        target="" class="btnToMakeBorder">
        <section class="buttons hover-effect5">
            <div>
                <h3>
                    Mais Informações
                </h3>
            </div>
        </section>
    </a>


{% endblock %}
