

{% extends '../../base.html' %}

{% block title%}Newton-Raphson{% endblock %}

{% block content %} 

    <section class="topics text">
        <div class="topicsTextInner">
            <h2>
                Script em Python
            </h2>

            <h3>
                Esse script foi feito para agilizar o método numérico de Newthon-Raphson, que consiste em 
                encontrar a raiz de um polinômio aproximando o valor cada vez mais do valor real da raiz.
            </h3>
        </div>
    </section>

    <a href="https://github.com/DanielMelloo/Newthon-Raphson"
        target="_blank" class="btnToMakeBorder">
        <section class="buttons hover-effect5">
            <div>
                <h3>
                    Ver Script
                </h3>
            </div>
        </section>
    </a>

    <section class="topics text">
        <div class="topicsTextInner">
            <h2>
                Como foi feito
            </h2>

            <h3>
                Esse script executa os mesmos passos que nós fariamos caso fossemos encontrar
                a raiz calculando com papel e caneta e guarda todos os resultados obtidos, porém
                como é realizado por um computador esse processo é infinitamente mais rápido.
            </h3>
        </div>
    </section>

    <section class="topics text">
        <div class="topicsTextInner">
            <h2>
                Tempo salvo
            </h2>

            <h3>
                Com essa automação podemos aproximar raízes com a precisão que desejamos em menos de 1 segundo,
                na maior parte dos casos, enquanto que se esses calculos fossem realizados por um humano o tempo
                necessário seria na ordem de minutos ou horas
            </h3>
        </div>
    </section>

    <section class="topics text">
        <div class="topicsTextInner">
            <h2>
                Precisão e confiabilidade
            </h2>

            <h3>
                Além do fato de poder mudar a precisão a qualquer momento caso o resultado não seja satisfatóio tem
                o fator confiabilidade, pois os calculos são precisos e não são suscetíveis a erros humanos.
            </h3>
        </div>
    </section>

    <a href="https://docs.google.com/spreadsheets/d/1wM5MsOw14xuYpzscceiTx7OlggpmPHyM/edit?usp=sharing&ouid=108130290740587722835&rtpof=true&sd=true"
        target="_blank" class="btnToMakeBorder">
        <section class="buttons hover-effect5">
            <div>
                <h3>
                    Ver Resultado
                </h3>
            </div>
        </section>
    </a>

    <a href="#" class="btnToMakeBorder">
        <section class="buttons hover-effect5">
            <div>
                <h3>
                    Rolar Para o topo
                </h3>
            </div>
        </section>
    </a>


{% endblock %}
