

{% extends '../../base.html' %}

{% block title%}Projetos Externos{% endblock %}

{% load static %}

{% block content %}


<section class="card-boxes">
    <div class="card-boxes-inner">
        <a href="projetoExt1" target="_blank" rel="noopener noreferrer">
            <div class="mini-card ">
                <h1>Projeto 1</h1>
                <img src="{% static 'media/projects/portfolioFront.jpg' %}" alt="." />

            </div>
        </a>
        <a href="https://www.google.com/" target="_blank" rel="noopener noreferrer">
            <div class="mini-card ">
                <h1>Projeto 2</h1>
                <!-- <img src="../../../static/media/projects/portfolioFront.jpg" alt="." /> -->

            </div>
        </a>
        <a href="https://www.google.com/" target="_blank" rel="noopener noreferrer">
            <div class="mini-card ">
                <h1>Projeto 3</h1>
                <img src="{% static 'media/projects/portfolioFront.jpg' %}" alt="." />

            </div>
        </a>
        <a href="https://www.google.com/" target="_blank" rel="noopener noreferrer">
            <div class="mini-card ">
                <h1>Projeto 4</h1>
                <img src="{% static 'media/projects/portfolioFront.jpg' %}" alt="." />

            </div>
        </a>
        <a href="https://www.google.com/" target="_blank" rel="noopener noreferrer">
            <div class="mini-card ">
                <h1>Projeto 5</h1>
                <!-- <img src="../../../static/media/projects/portfolioFront.jpg" alt="." /> -->

            </div>
        </a>
        <a href="https://www.google.com/" target="_blank" rel="noopener noreferrer">
            <div class="mini-card ">
                <h1>Projeto 6</h1>
                <img src="{% static 'media/projects/portfolioFront.jpg' %}" alt="." />

            </div>
        </a>

        <a href="https://www.google.com/" target="_blank" rel="noopener noreferrer">
            <div class="mini-card ">
                <h1>Projeto 7</h1>
                <img src="{% static 'media/projects/portfolioFront.jpg' %}" alt="." />

            </div>
        </a>
        <a href="https://www.google.com/" target="_blank" rel="noopener noreferrer">
            <div class="mini-card ">
                <h1>Projeto 8</h1>
                <!-- <img src="../../../static/media/projects/portfolioFront.jpg" alt="." /> -->

            </div>
        </a>

        <a href="https://www.google.com/" target="_blank" rel="noopener noreferrer">
            <div class="mini-card ">
                <h1>Projeto 9</h1>
                <img src="{% static 'media/projects/portfolioFront.jpg' %}" alt="." />

            </div>
        </a>

    </div>
</section>



<a href="#" class="btnToMakeBorder">
    <section class="buttons hover-effect5">
        <div>
            <h3>
                Rolar Para o topo
            </h3>
        </div>
    </section>
</a>


{% endblock %}
    