

{% extends '../../../base.html' %}

{% block title %}Erros Comuns em C{% endblock %}

{% load static %}

{% block content %} 

    <section class="topics-title">
        <h2>
            Erros comuns em C
        </h2>
    </section>

    <section class="topics text">
        <div class="topicsTextInner">
            <h2>
                Sumário
            </h2>
    
            <h3 class="tabulated" style="text-align: left;">
                <a href="#001" class="text-hover-effect">
                    1) Erro de formatação para printf() e scanf()
                </a>
                <a href="#002" class="text-hover-effect">
                    2) Argumento para scanf()
                </a>
                <a href="#003" class="text-hover-effect">
                    3) Comparação Vs Atribuição
                </a>
                <a href="#004" class="text-hover-effect">
                    4) Instrução-única Vs Bloco-de-instrução
                </a>
            </h3>
        </div>
    </section>


    <section class="externalMaterial" id="001">
        <h2>
            1) Erro de formatação para printf() e scanf()
        </h2>
    </section>
    

    <section class="topics text">
        <div class="topicsTextInner">

            <section class="externalMaterial">
                <h2>
                    Errado
                </h2>
            </section>

            <img class="img-backless" src="{% static 'media/commonErrors/1/errado.png' %}" alt="Imagem" onclick="openModal(this)"/>

            <!-- <img class="img-backless" src="{% static 'media/commonErrors/1/errado.png'%}" alt="." /> -->
        </div>
    </section>

    <section class="topics text">
        <div class="topicsTextInner">

            <section class="externalMaterial">
                <h2>
                    Certo
                </h2>
            </section>

            
            <img class="img-backless" src="{% static 'media/commonErrors/1/certo.png' %}" alt="Imagem" onclick="openModal(this)" />
            
            <!-- <img class="img-backless" src="{% static 'media/commonErrors/1/certo.png'%}" alt="." /> -->
        </div>
    </section>
    

    <section class="externalMaterial" id="002">
        <h2>
            2) Argumento para scanf()
        </h2>
    </section>
    

    <section class="topics text">
        <div class="topicsTextInner">

            <section class="externalMaterial">
                <h2>
                    Errado
                </h2>
            </section>

            
            <img class="img-backless" src="{% static 'media/commonErrors/2/errado.png' %}" alt="Imagem" onclick="openModal(this)"/>

            <!-- <img class="img-backless" src="{% static 'media/commonErrors/2/errado.png'%}" alt="." /> -->
        </div>
    </section>

    <section class="topics text">
        <div class="topicsTextInner">

            <section class="externalMaterial">
                <h2>
                    Certo
                </h2>
            </section>
            
            <img class="img-backless" src="{% static 'media/commonErrors/2/certo.png' %}" alt="Imagem" onclick="openModal(this)" />
            
    
            <!-- <img class="img-backless" src="{% static 'media/commonErrors/2/certo.png'%}" alt="." /> -->
        </div>
    </section>

    <section class="externalMaterial" id="003">
        <h2>
            3) Comparação Vs Atribuição
        </h2>
    </section>
    

    <section class="topics text">
        <div class="topicsTextInner">

            <section class="externalMaterial">
                <h2>
                    Errado
                </h2>
            </section>
            
            
            <img class="img-backless" src="{% static 'media/commonErrors/3/errado.png' %}" alt="Imagem" onclick="openModal(this)"/>

            <!-- <img class="img-backless" src="{% static 'media/commonErrors/3/errado.png'%}" alt="." /> -->
        </div>
    </section>

    <section class="topics text">
        <div class="topicsTextInner">

            <section class="externalMaterial">
                <h2>
                    Certa
                </h2>
            </section>

        
            <img class="img-backless" src="{% static 'media/commonErrors/3/certo.png' %}" alt="Imagem" onclick="openModal(this)"/>
    
            <!-- <img class="img-backless" src="{% static 'media/commonErrors/3/certo.png'%}" alt="." /> -->
        </div>
    </section>


    <section class="externalMaterial" id="004">
        <h2>
            4) Instrução-única Vs Bloco-de-instrução
        </h2>
    </section>
    

    <section class="topics text">
        <div class="topicsTextInner">

            <section class="externalMaterial">
                <h2>
                    Errado
                </h2>
            </section>

            
            <img class="img-backless" src="{% static 'media/commonErrors/4/errado.png' %}" alt="Imagem" onclick="openModal(this)"/>
    
            <!-- <img class="img-backless" src="{% static 'media/commonErrors/4/errado.png'%}" alt="." /> -->
        </div>
    </section>

    <section class="topics text">
        <div class="topicsTextInner">

            <section class="externalMaterial">
                <h2>
                    Certo
                </h2>
            </section>

            
            <img class="img-backless" src="{% static 'media/commonErrors/4/certo.png' %}" alt="Imagem" onclick="openModal(this)" />

            <!-- <img class="img-backless" src="{% static 'media/commonErrors/4/certo.png'%}" alt="." /> -->
        </div>
    </section>
  
    <a href="https://drive.google.com/file/d/1yJGVFIxxIQH6AM8AP9A7qmz95rxWf7Sx/view?usp=sharing" 
        target="_blank" class="btnToMakeBorder">
        <section class="buttons hover-effect5">
            <div>
                <h3>
                    Visualizar Material Completo
                </h3>
            </div>
        </section>
    </a>


    <a href="#" class="btnToMakeBorder">
        <section class="buttons hover-effect5">
            <div>
                <h3>
                    Rolar Para o topo
                </h3>
            </div>
        </section>
    </a>


{% endblock %}
